<div class="jumbotron">





	<div class="container">
		<h1>Welcome to P3 report</h1>
		<div class="form-inline">
			<div class="form-group">
				<label for="fromDate" class="sr-only">from</label>
				<div class="input-group">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
						from
					</div>
					<input id="fromDate" type="text" class="form-control" placeholder="dd/mm/yyyy" />
				</div>
			</div>
			<div class="form-group">
				<label for="toDate" class="sr-only">to</label>
				<div class="input-group">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
						to
					</div>
					<input id="toDate" type="text" class="form-control" placeholder="dd/mm/yyyy" />
				</div>
			</div>
			<button ng-click="search()" id="searchButton" type="button" class="btn btn-primary">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span> show
			</button>
		</div>
	</div>
</div>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
