/*
build .css file from .less file
> lessc style.less style.css
*/
body {
  min-width: 992px;
  width: auto !important;
  width: 992px;
}
.bodyTop {
  padding-top: 60px;
}
.fileTypePanel {
  width: 36px !important;
}
.scopeForm {
  width: 580px !important;
}
.fileContentPanel {
  display: none;
}
